@model Net_CampMyProject.Data.Models.Person

@{
    ViewData["Title"] = "Details";
    var isAdmin = User.IsInRole(Roles.Admin);
}


<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        @if (isAdmin)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
        }
        @if (Model.ImgUrl != null)
        {

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ImgUrl)
            </dt>

            <dd class="col-sm-10">
                <img src="@Model.ImgUrl" />
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthnIformation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthnIformation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @if (Model.SocialNetworksLinks != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SocialNetworksLinks)
            </dt>
            @if (Model.SocialNetworksLinks.FirstOrDefault() != null)
            {

                @foreach (var item in Model.SocialNetworksLinks.Split(","))
                {
                    <dd class="col-sm-10">
                        <a href=" @item.ToString();">@item.ToString()</a>
                    </dd>
                }

            }
        }
    </dl>
</div>
<div>
    @if (isAdmin)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
        }
    <a asp-action="Details" asp-controller="Films" asp-route-id ="@Model.FilmPersons.FirstOrDefault(c=>c.PersonId == Model.Id).FilmId">Back to Film</a>
</div>
