@model Net_CampMyProject.Data.Models.Person

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImgUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirthnIformation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirthnIformation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SocialNetworksLinks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SocialNetworksLinks)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
