@using Net_CampMyProject.Data.Models;
@using Microsoft.Data.SqlClient;
@model Net_CampMyProject.Models.ViewModels.FilmsIndexViewModel

@{
    ViewData["Title"] = "Films";

    var isAdmin = User.IsInRole(Roles.Admin);
    var revertedSortOrder = Model.SortOrder == SortOrder.Ascending ? SortOrder.Descending : SortOrder.Ascending;
    var filmResults = Model.Films.Count;
    var filter = Model.Filter;
}


<div>
    @if (filmResults != 0)
    {
        <div class="text-right">
            <div class="dropdown mb-2 mr-1">
                <strong>Sort by:</strong>
                <button class="btn btn-secondary dropdown-toggle w-25 h-25" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Model.SortBy
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <span class="dropdown-item">
                        <a asp-controller="Films" asp-action="List" asp-route-filter="@Model.Filter" asp-route-sortBy="@nameof(Film.Title)" asp-route-sortOrder="@revertedSortOrder">Title</a>
                    </span>
                    <span class="dropdown-item">
                        <a asp-controller="Films" asp-action="List" asp-route-filter="@Model.Filter" asp-route-sortBy="@nameof(Film.ReleaseDate)" asp-route-sortOrder="@revertedSortOrder">Release Date</a>
                    </span>
                </div>
            </div>

        </div>
    }

    @if (filmResults == 0 && filter == FilmsFilterType.Liked)
    {
        <div>
            <h4>You didn't like any movies</h4>
        </div>
    }
    <div>
        @foreach (var film in Model.Films)
        {
            <div class="shadow-lg p-3 mb-2 bg-white rounded">
                <div class="row mx-md-n5">
                    <div class="col px-md-5">
                        <div class="p-3 border bg-light">
                            <div class="row">
                                <div class="col-8 col-sm-6">
                                    <a asp-action="Details" asp-route-id="@film.Id">
                                        <h3 class="text-dark">@film.Title</h3>
                                    </a>
                                </div>
                                <div class="col-8 col-sm-6">
                                    <div class="text-center">
                                        <span>Likes</span>
                                        @film.MyRatings.Count(c => c.MyRating)
                                    </div>
                                    <div class="text-center">
                                        <span>Dislikes</span>
                                        @film.MyRatings.Count(c => !c.MyRating)
                                    </div>
                                </div>
                            </div>
                            <div class="row my-2">
                                <div class="col-12 col-sm-3 text-center">
                                    <img class="rounded-lg" width="150" height="200" src="@film.ImgUrl"/>
                                </div>

                                <div class="col-md-5 ">
                                    <div>
                                        <p>
                                            <strong>
                                                @nameof(film.ReleaseDate):
                                            </strong>
                                            <span>
                                                @film.ReleaseDate.ToShortDateString()
                                            </span>
                                        </p>
                                    </div>
                                    <div>
                                        <p>
                                            <strong>
                                                @nameof(film.Genres):
                                            </strong>

                                            @foreach (var i in film.Genres)
                                            {
                                                <span>
                                                    @i.Genre.GenreType

                                                    @if (film.Genres.Select(c => c.Genre.GenreType).LastOrDefault() != i.Genre.GenreType)
                                                    {
                                                        <span>,</span>
                                                    }
                                                </span>
                                            }

                                        </p>
                                    </div>
                                    <div>
                                        <p>
                                            <strong>
                                                @nameof(film.Duration):
                                            </strong>
                                            <span>
                                                @film.Duration
                                            </span>
                                        </p>
                                    </div>
                                    <div>
                                        <p>
                                            <strong>
                                                @nameof(film.Country):
                                            </strong>
                                            <span>
                                                @film.Country
                                            </span>
                                        </p>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div><strong>Other ratings:</strong></div>

                                    @foreach (var rating in film.Ratings)
                                    {
                                        <span>
                                            <p><a href="@rating.Source.ResourceWebsite">@rating.Rating - @(rating.Source.ResourceWebsite.Split("//").ElementAt(1).Split("/").ElementAt(0).Replace("www.", ""))</a></p>
                                        </span>
                                    }
                                </div>
                            </div>
                            @*<div class=" class="row my-2"">
                                <div>
                                    <details>
                                        <summary>@nameof(film.Description)...</summary>
                                        <p class="text-md-center">@film.Description</p>
                                    </details>
                                </div>
                            </div>*@
                            <div>
                                @if (isAdmin)
                                {
                                    <a asp-action="Edit" asp-route-id="@film.Id" class="ml-1">E</a>
                                    <a asp-action="Delete" asp-route-id="@film.Id" class="ml-1">R</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="p-4 text-center">
        @if (Model.PaginationPageViewModel.HasPreviousPage)
        {
            <a asp-action="List"
               asp-route-page="@(Model.PaginationPageViewModel.PageNumber - 1)"
               class="btn btn-outline-dark">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Previous page
            </a>

        }
        @if (Model.PaginationPageViewModel.HasNextPage)
        {

            <a asp-action="List"
               asp-route-page="@(Model.PaginationPageViewModel.PageNumber + 1)"
               class="btn btn-outline-dark">

                <i class="glyphicon glyphicon-chevron-right"></i>
                Next page
            </a>
        }
    </div>
</div>






